In [2]:
from datasets import load_dataset
data = load_dataset("glue", 'cola')

Reusing dataset glue (/home/vimarshc/.cache/huggingface/datasets/glue/cola/1.0.0/7c99657241149a24692c402a5c3f34d4c9f1df5ac2e4c3759fadea38f6cb29c4)

In [3]:
data

DatasetDict({
    train: Dataset({
        features: ['sentence', 'label', 'idx'],
        num_rows: 8551
    })
    validation: Dataset({
        features: ['sentence', 'label', 'idx'],
        num_rows: 1043
    })
    test: Dataset({
        features: ['sentence', 'label', 'idx'],
        num_rows: 1063
    })
})

In [7]:
import pandas as pd

In [8]:
d = {}
for it in data['train'].column_names:
    d[it] = data['train'][it]
df = pd.DataFrame(d)

In [9]:
df.shape

(8551, 3)

In [10]:
df.sample(10)

       idx  label                                           sentence
7357  7357      1               The agency classified the documents.
6903  6903      1                    The dog dug a hole in the lawn.
5877  5877      1                                   Ryan hit Andrew.
7523  7523      0                             the boy likes herself.
2067  2067      1                              She fell into a funk.
4180  4180      1                  Some of the soup needs more salt.
944    944      1               We like our friends and they do too.
2040  2040      1    I shipped the package halfway around the world.
6148  6148      1   The boat was sunk by the captain with a torpedo.
6360  6360      1  Any soldier should be prepared to die for her ...

In [11]:
df.label.value_counts()

1    6023
0    2528
Name: label, dtype: int64

In [18]:
df['len'] = df['sentence'].apply(len)
df['len'].quantile([i/100 for i in range(100)])

0.00      6.0
0.01     12.5
0.02     14.0
0.03     15.5
0.04     17.0
        ...
0.95     78.0
0.96     83.0
0.97     88.0
0.98     95.0
0.99    107.0
Name: len, Length: 100, dtype: float64